<html>

<head>
    <title>Angulr Demo</title>
    <script src="./vendor/angularjs/angular.js"></script>
    <script src="./app.js"></script>
    <style type="text/css">
    
    .validation{display: none;}
    input.ng-invalid + .has-phone{display: block;}
    </style>
</head>

<body ng-app="DemoApp">
    <div ng-controller="BodyCtrl as main">
        <form name="DemoListForm" ng-submit="main.submit()">
            <div ng-repeat="p in main.persons">
                <div>
                    Name: {{p.name}}
                </div>
                <div>
                    Age: {{p.age}}
                </div>
                <div>
                    <label>
                        Has Phone : <input type="checkbox" ng-model="p.hasPhone" />
                    </label>
                    <br />
                    <label ng-if="p.hasPhone">
                        Phone: <input type="text" name="phone-{{$index}}" ng-model="p.phone" required />
                       <div class="validation" ng-class="{'has-phone': p.hasPhone}">phone required</div>
                    </label>                    
                </div>
            <hr />
            </div>
            <input type="submit" value="Submit" />
        </form>
        <form name="DemoForm">
            <hr />
            <div>
                <label>
                    Name: <input ng-model="main.person.name" required />
                    </label>
                <br />
                <label>
                    Age: <input ng-model="main.person.age" type="number" required min="0" />
                </label>
                <br />
                <button ng-click="main.add()" ng-disabled="DemoForm.$invalid">Add</button>

            </div>
        </form>
    </div>
</body>

</html>